<div class="container">
  <div class="ss">
  <div class="row align-items-center event-block no-gutters margin-40px-bottom">
    <div class="col-lg-5 col-sm-12">
      <div class="position-relative">
        <img src="{{product.image}}" alt="">



        </div>
      <h3>{{product.name}}</h3>
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Category : {{product.category}}</li>
          <li class="list-group-item">Price : {{product.price}}$</li>
          <li class="list-group-item">{{product.description}}</li>
          <li class="list-group-item">Posted : {{product.dateTime}}</li>
        </ul>
      </div>
      </div>

    </div>
    <div class="col-lg-7 col-sm-12">
      <br>
      <div class="product-action">
        <button class="btn btn-outline-primary" (click)="addToCart(product)">
          <i class="bi bi-cart-plus-fill"></i>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-danger" (click)="closeDetails()">
          <i class="bi bi-x-circle-fill"></i>
        </button>
      </div>
    </div>
    <!-- end event block -->
  </div>
</div>
