<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/auth/catalog">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/auth/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/catalog">Catalog</a>
        </li>
        <li class="nav-item" *ngIf="authService.hasRole('ADMIN')">
          <a class="nav-link" routerLink="/auth/stock">Stock</a>
        </li>
      <!--  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>-->
      </ul>

      <div class=" btn-group dropdown">
        <button type="button" class="btn btn-outline-info dropdown d-flex" data-bs-toggle="dropdown">
          <i class="bi bi-person-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item" routerLink="/auth/profile"> <i class="bi bi-person-fill"></i>My Profile</a></li>
          <li><a class="dropdown-item" (click)="logOut()"> <i class="bi bi-box-arrow-left"></i>Logout</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
