<div class="select">
  <form id="search-form">
    <div class="row">
      <div class="col-12">
        <div class="row no-gutters">
          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            <select class="form-control" id="exampleFormControlSelect1" (change)="selectByCategory($event)">
              <option  value="all" selected>Category</option>
              <option value="Electronics">Electronics</option>
              <option value="Fashion">Fashion</option>
              <option value="Hobbies">Hobbies</option>
              <option value="Books">Books</option>
              <option value="Clothing">Clothing</option>
            </select>
          </div>
          <form class="col-lg-8 col-md-6 col-sm-12 p-0">
            <input type="text" placeholder="Search..." (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
                   name="key" class="form-control" id="search" >
          </form>
          <div class="col-lg-1 col-md-3 col-sm-12 p-0">
            <button type="submit" class="btn btn-base">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   fill="none"
                   stroke="currentColor"
                   stroke-width="2"
                   stroke-linecap="round"
                   stroke-linejoin="round"
                   class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<br>
<br>
<div class="all">
  <div class="cards">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <div class="container">
      <div class="row clearfix">

        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let p of products">
          <div class="card product_item">
            <div class="body" [ngClass]="{'stock': p.quantity < 10}">
            <div class="cp_img">
                <img src="{{p.image}}" alt="Product" class="img-fluid">
                <div class="hover">
                  <button  class="btn btn-primary btn-sm waves-effect">
                    <i class="zmdi zmdi-eye" (click)="view(p)"></i></button>
                  <button class="btn btn-primary btn-sm waves-effect" (click)="addToCart(p)">
                    <i class="zmdi zmdi-shopping-cart"></i>
                  </button>
                </div>
              </div>
              <div class="product_details">
                <h5><a href="ec-product-detail.html">{{p.name}}</a></h5>
                <ul class="product_price list-unstyled">
                  <li class="old_price">{{p.price}}$</li>
                  <li class="new_price">{{p.category}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detailss" *ngIf="details" id="detail">
    <app-product-details  [product]="product"
                          (add)="addToCart($event)"
                          (close)="closeDetails()"></app-product-details>
  </div>
</div>
